name: CI

# run on all pushes, pull requests to master, and allow manual runs
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install
        run: |
          sudo apt-get -y install libfftw3-dev
          pip install flake8 pytest pytest-cov sphinx sphinx_rtd_theme
          # install pybind11 before sigpyproc
          pip install tensorflow pybind11
          pip install git+https://github.com/FRBs/sigpyproc3@v0.5.0
          pip install .
      - name: Style check
        run: flake8 --exclude __init__.py,build
      - name: Tests
        run: pytest -v
    
  docs:
    runs-on: ubuntu-latest
    # only run when tests succeed on the master branch
    needs: test
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          architecture: x64
      - name: Install
        run: |
          sudo apt-get -y install libfftw3-dev
          pip install flake8 pytest pytest-cov sphinx sphinx_rtd_theme
          # install pybind11 before sigpyproc
          pip install tensorflow pybind11
          pip install git+https://github.com/FRBs/sigpyproc3@v0.5.0
          pip install .
      - name: Build
        run: |
          make -C docs/ html
          touch docs/_build/html/.nojekyll
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
